@charset "utf-8";
/* CSS Document */

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
h1#logo a { background:url(../images/bg-logo@2x.png) no-repeat; background-size:216px 28px; }

#award { background:url(../images/buttons/bg-award@2x.png) center no-repeat; background-size:24px 24px; }
#court { background:url(../images/buttons/bg-court@2x.png) center no-repeat; background-size:24px 24px; }
#balance { background:url(../images/buttons/bg-balance@2x.png) center no-repeat; background-size:24px 24px; }
#map { background:url(../images/buttons/bg-map@2x.png) right center no-repeat; background-size:24px 24px; }

h3 span.ui-icon.ui-icon-triangle-1-s {background:url(../images/buttons/bg-close@2x.png) center center no-repeat; background-size:24px 24px; }
h3 span.ui-icon.ui-icon-triangle-1-e {background:url(../images/buttons/bg-open@2x.png) center center no-repeat; background-size:24px 24px; }

.email { background:url(../images/buttons/bg-email@2x.png) center center no-repeat #fff; background-size:24px 24px; }
.zoom { background:url(../images/buttons/bg-zoom@2x.png) center center no-repeat #fff; background-size:24px 24px; }
.award { background:url(../images/buttons/bg-award@2x.png) center center no-repeat #fff; background-size:24px 24px; }
.link { background:url(../images/buttons/bg-link@2x.png) center center no-repeat #fff; background-size:24px 24px; }

p.dates { background:url(../images/buttons/bg-calendar@2x.png) no-repeat 2px 7px; background-size:24px 24px; }
p.users { background:url(../images/buttons/bg-users@2x.png) no-repeat 2px 7px; background-size:24px 24px; }
p.comments { background:url(../images/buttons/bg-chat@2x.png) no-repeat 2px 8px; background-size:24px 24px; }

.avatar { background:url(../images/buttons/bg-users@2x.png) center center no-repeat #fff; background-size:24px 24px; }

.flex-direction-nav .flex-next {background:url(../images/buttons/bg-next@2x.png) center no-repeat #fff; background-size:24px 24px; }
.flex-direction-nav .flex-prev {background:url(../images/buttons/bg-prev@2x.png) center no-repeat #fff; background-size:24px 24px; }

.fancybox-close { background: url(../images/buttons/bg-reduce@2x.png) center no-repeat #fff; background-size:24px 24px; }
}


@media only screen and (max-width: 1099px) {
#wrapper {margin:0; float:right; margin-right:20px;  }
}


/* Standard 960 or larger (browsers) */
@media only screen and (min-width: 960px) {
}


/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
body {background:#fff; }
#wrapper {width:100%; margin:0 auto; background-color:#fff; }
#box-shadow { -webkit-box-shadow:0 0 0px #C7C7C7; -moz-box-shadow:0 0 0px #C7C7C7; box-shadow:0 0 0px #C7C7C7; background-color:#fff; }
.responsive.alignright {float:none; }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
.container { padding-left:0px !important; padding-right:0px !important; width:720px; position:relative; margin:0 auto; }
header {padding:41px 0px 8px 0px; width:720px; position:relative; margin:0 auto; }

.responsive.alignleft {float:none; margin:0 auto; width:720px; padding-top:20px;}

.js #nav { display: none; }
.js .selectnav { display: block; margin:5px 10px; color:#a5a5a5; font-family: "Open Sans", Arial, Helvetica, sans-serif; font-size:13px; font-weight:600; line-height:13px; text-decoration:none; text-transform:uppercase; float:none; width:700px;}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container { padding-left:0px !important; padding-right:0px !important; width:440px; position:relative; margin:0 auto;  overflow:visible !important}
header {padding:41px 0px 8px 0px; width:440px; position:relative; margin:0 auto; }

.responsive.alignleft {float:none; margin:0 auto; width:440px; padding-top:20px;}

.col1-1, .col1-3, .col2-3, .col1-2 { width:420px; margin:0px 10px; }

.videos {width:420px !important; height:235px !important; }

.js #nav { display: none; }
.js .selectnav { display: block; margin:5px 10px; color:#a5a5a5; font-family: "Open Sans", Arial, Helvetica, sans-serif; font-size:13px; font-weight:600; line-height:13px; text-decoration:none; text-transform:uppercase; float:none; width:420px; }

.element .col1-2 {width:340px !important; display:block; }
.responsive-folio { overflow:visible !important }

#about .col1-3 {width:200px !important; }

#options { margin-right:10px;}
#options li a {margin-bottom:5px; }

.responsive-footer .col1-3 { width:200px !important; }
.responsive-footer .col2-3 { width:200px !important; }
.contact input, textarea { width: 172px !important; margin: 0px 0px 0px 0; float:none; display:block; margin-bottom:5px}
.contact textarea { width: 172px !important; }

.option-set { float:none}
h3.alignleft {float:none; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
.container { padding-left:0px !important; padding-right:0px !important; width:320px; position:relative; margin:0 auto; overflow:visible !important}
header {padding:41px 0px 8px 0px; width:320px; position:relative; margin:0 auto; }

ul.social {margin-left:10px; margin-top:10px; float:none; }

.responsive.alignleft {float:none; margin:0 auto; width:320px; padding-top:20px;}

.col1-1, .col1-3, .col2-3, .col1-2 { width:300px; margin:0px 10px; }

.videos {width:300px !important; height:175px !important; }

.js #nav { display: none; }
.js .selectnav { display: block; margin:18px 10px 0px 10px; color:#a5a5a5; font-family: "Open Sans", Arial, Helvetica, sans-serif; font-size:13px; font-weight:600; line-height:13px; text-decoration:none; text-transform:uppercase; width:300px !important }
nav.alignright {display:block; float:none; }

.element {width:300px; display:block; }
#about .col1-3 {width:220px !important; }

#options { margin-right:10px; margin-left:0px; margin-top:20px;}
#options li a {margin-bottom:5px; }

.responsive-footer .col1-3 { width:300px }
.responsive-footer .col2-3 { width:300px }
.contact input, textarea { width: 272px !important; margin: 0px 0px 0px 0; float:none; display:block; margin-bottom:5px}
.contact textarea { width: 272px !important; }

.option-set {margin-left:10px !important; margin-top:-10px !important; float:none}
h3.alignleft {float:none; }

#map {float:none; margin-top:10px; margin-left:10px; }
}
