<!DOCTYPE html>
<html class="no-js"  dir="ltr" lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="ppandp">
    <meta name="Description" content="Lawyered Group - Responsive Retina HTML5 One-Page" />
    <title>Lawyered Group - Responsive Retina HTML5 One-Page</title>
    <%= stylesheet_link_tag "reset", "contact", "styles" %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,600,800' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400italic,600italic,700italic' rel='stylesheet' type='text/css' />
    <%= stylesheet_link_tag "jquery.fancybox", "flexslider", "retina-responsive" %>
  </head>
  <body>
    <nav class="responsive alignleft">
      <ul id="nav">
        <li><a href="#">Home</a></li>
        <li><a href="#section2">About us</a></li>
        <li><a href="#section3">Our Services</a></li>
        <li><a href="#section4">The Team</a></li>
        <li><a href="#section5">Blog</a></li>
        <li><a href="#section6">Case Studies</a></li>
        <li><a href="#section7">Contact</a></li>
      </ul>
    </nav>
    <!-- End of Nav -->
    <div id="wrapper">
      <div class="responsive alignright" id="box-shadow">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag  "all" %>
  </body>
</html>
