<div class="section" id="section5">
  <div class="container clearfix">
    <div class="col1-1">
      <div class="headline">
        <h2>Blog</h2>
      </div>
      <h3>Welcome to our blog: News, comments, and hints to current court rulings of our fields of law as well as current information on our attorney's office.</h3>
    </div>
    <div class="col1-1">
      <article>
        <h3><a href="single-post.html">We Appreciate Any Kind of Feedback (Standard Post)</a></h3>
        <div class="alignleft">
          <p class="dates">On June 28, 2012</p>
        </div>
        <div class="alignleft">
          <p class="users">By Admin</p>
        </div>
        <div class="alignleft">
          <p class="comments">With 6 Comments</p>
        </div>
        <div class="clear"></div>
        <div class="images"> <a href="images/slideshow/slide3.jpg" title="Image Title Here" rel="group"></a>
          <div class="icons zoom"></div>
          <img src="images/slideshow/slide3.jpg" alt="Image Title" /> </div>
        <p> Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. 
          Donec id elit non mi gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Vestibulum id ligula porta felis lorem eus semper. Donec ullamcorper nulla non metus auctor fringilla. 
          Nullam quis risus eget urna. </p>
        <p><a href="single-post.html">Read more <span class="arrow">→</span></a></p>
      </article>
      <div class="border"></div>
      <article>
        <h3><a href="single-post.html">Yet Another Blog Post (Quote Post)</a></h3>
        <div class="alignleft">
          <p class="dates">On June 28, 2012</p>
        </div>
        <div class="alignleft">
          <p class="users">By Admin</p>
        </div>
        <div class="alignleft">
          <p class="comments">With 6 Comments</p>
        </div>
        <div class="clear"></div>
        <div class="bubble">
          <p class="alignleft no-padding blockquote">"</p>
          <h4 class="blockquote"> This could be a blockquote. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo 
            tristique odio, quis fringilla. </h4>
          <div class="clear"></div>
        </div>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla 
          ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum. </p>
        <p> Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum. 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula 
          aliquet ut. Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam. 
          Aliquam erat volutpat. Sed tetur suscipit nunc et rutrum. </p>
        <p><a href="single-post.html">Read more <span class="arrow">→</span></a></p>
      </article>
      <div class="border"></div>
      <article>
        <h3><a href="single-post.html">We Boost Your Sales (Video Post)</a></h3>
        <div class="alignleft">
          <p class="dates">On June 28, 2012</p>
        </div>
        <div class="alignleft">
          <p class="users">By Admin</p>
        </div>
        <div class="alignleft">
          <p class="comments">With 6 Comments</p>
        </div>
        <div class="clear"></div>
        <div class="images">
          <iframe class="videos" style="height:392px; width:700px;" src="http://player.vimeo.com/video/29017795?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></iframe>
        </div>
        <p>Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Donec id elit non mi gravida at eget metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis lorem eus semper. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna. </p>
        <p><a href="single-post.html">Read more <span class="arrow">→</span></a></p>
      </article>
      <div class="border"></div>
      <article>
        <h3><a href="single-post.html">Ok, One Last One (Only Text Post)</a></h3>
        <div class="alignleft">
          <p class="dates">On June 28, 2012</p>
        </div>
        <div class="alignleft">
          <p class="users">By Admin</p>
        </div>
        <div class="alignleft">
          <p class="comments">With 6 Comments</p>
        </div>
        <div class="clear"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum. </p>
        <p> Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. Sed tetur suscipit nunc et rutrum.</p>
        <p><a href="single-post.html">Read more <span class="arrow">→</span></a></p>
      </article>
      <div class="border"></div>
      <div id="navi-blog">
        <div class="page"><a href="#" onClick="return false">1</a></div>
        <div class="page active"><a href="#" onClick="return false">2</a></div>
        <div class="page"><a href="#" onClick="return false">3</a></div>
        <div class="page"><a href="#" onClick="return false">4</a></div>
        <div class="page"><a href="#" onClick="return false">5</a></div>
      </div>
    </div>
  </div>
</div>
