<div class="section" id="section6">
  <div class="container clearfix">
    <div class="col1-1">
      <div class="headline">
        <h2>Case Studies</h2>
      </div>
    </div>
    <div id="options" class="clearfix">
      <ul id="filters" class="option-set clearfix" data-option-key="filter">
        <li><a href="#filter" data-option-value="*" class="selected">Show&nbsp;All</a><a href="#filter" data-option-value=".criminal">Criminal</a><a href="#filter" data-option-value=".civil">Civil</a><a href="#filter" data-option-value=".public">Public</a></li>
      </ul>
    </div>
    <div id="container" class="clearfix padding-top responsive-folio">
      <div class="element clearfix civil">
        <section class="col1-2">
          <div class="images"> <a href="images/pic01.jpg" title="Image Title Here" rel="group"></a>
            <div class="icons zoom"></div>
            <img src="images/pic01.jpg" alt="Image Title" /> </div>
        </section>
        <section class="col1-2">
          <div class="headline">
            <h4>Some Case Title</h4>
          </div>
          <p>Sed ut perspiciatis unde omnis iste. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. </p>
          <h5>The Verdict</h5>
          <p>Maecenas sed justo varius velit imperdiet bibendum.</p>
        </section>
        <div class="clear"></div>
        <div class="break"></div>
      </div>
      <div class="element clearfix public">
        <section class="col1-2">
          <div class="images"> <a href="#" title="Image Title Here"></a>
            <div class="icons link"></div>
            <img src="images/pic02.jpg" alt="Image Title" /> </div>
        </section>
        <section class="col1-2">
          <div class="headline">
            <h4>Some Case Title</h4>
          </div>
          <p>Sed ut perspiciatis unde omnis iste. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. Maecenas sed justo varius velit imperdiet bibendum.</p>
          <p><a href="#">Read more <span class="arrow">→</span></a></p>
        </section>
        <div class="clear"></div>
        <div class="break"></div>
      </div>
      <div class="element clearfix criminal">
        <section class="col1-2">
          <div class="images"> <a href="images/pic03.jpg" title="Image Title Here" rel="group"></a>
            <div class="icons zoom"></div>
            <img src="images/pic03.jpg" alt="Image Title" /> </div>
        </section>
        <section class="col1-2">
          <div class="headline">
            <h4>Some Case Title</h4>
          </div>
          <h5>The Charges</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo tristique odio, quis fringilla ligula aliquet ut. </p>
          <h5>The Verdict</h5>
          <p>Maecenas sed justo varius velit imperdiet bibendum.</p>
        </section>
        <div class="clear"></div>
        <div class="break"></div>
      </div>
    </div>
  </div>
</div>
