<div class="section" id="section7">
  <div class="container clearfix">
    <div class="col1-1">
      <div class="headline">
        <h2>Get in Touch</h2>
      </div>
      <h3>Thanks for looking. We’d love to hear from you.</h3>
    </div>
    <div class="break"></div>
    <div class="responsive-footer">
      <div class="col1-3">
        <div class="headline">
          <h4>Contact Information</h4>
        </div>
        <p> 22 Miron Drive<br />
          New York City, 12603 NY</p>
        <p> Email: <a href="mailto:info@domain.com">info@domain.com</a></p>
        <p> Phone: (845) 123 4567</p>
        <div class="headline">
          <h4>Business Hours</h4>
        </div>
        <p>Monday - Thursday:<br />
          9am - 5pm</p>
        <p>Friday:<br />
          10am - 4pm</p>
      </div>
      <div class="col2-3">
        <div class="headline">
          <h4>Drop Us a Line</h4>
        </div>
        <p>We will get back to you asap. Fields marked with * are required.</p>
        <div class="contact">
          <div id="message"></div>
          <form method="post" action="contact.php" name="contactform" id="contactform" autocomplete="off">
            <fieldset>
            <label for="name" accesskey="U"><span class="required">Name</span></label>
            <input name="name" type="text" id="name" size="30" title="Name *" />
            <label for="email" accesskey="E"><span class="required">Email</span></label>
            <input name="email" type="text" id="email" size="30" title="Email *" />
            <label for="phone" accesskey="P"><span class="required">Phone</span></label>
            <input name="phone" type="text" id="phone" size="30" title="Phone *" class="third" />
            <div class="clear"></div>
            <br />
            <label for="comments" accesskey="C"><span class="required">Comments</span></label>
            <textarea name="comments" cols="40" rows="3" id="comments" style="height: 113px;" title="Comment *"></textarea>
            <input type="submit" class="submit" id="submit" value="Submit" />
            </fieldset>
          </form>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
