<header>
  <h1 id="logo"><a href="index.html">Lawyered Group</a></h1>
  <p id="map"><a href="https://maps.google.com/maps?q=new+york&oe=utf-8&client=firefox-a&channel=sb&ie=UTF-8&ei=8WkCU72zK4a47AbYi4GQBQ&ved=0CAoQ_AUoAg">Find us on Google Maps</a></p>
</header>
