<div class="main flexslider">
  <ul class="slides">
    <li>
      <div class="col1-1"> <img src="images/slideshow/slide1.jpg" alt="" />
        <div class="caption">
          <h4>Winning your Case</h4>
          <div class="borderline"></div>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloreue laudantium.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="col1-1"> <img src="images/slideshow/slide2.jpg" alt="" />
        <div class="caption">
          <h4>Minimal &amp; Clean</h4>
          <div class="borderline"></div>
          <p>You can easily change the color of the background. If you need help, we'd gladly help you! <a href="#" onClick="return false" class="padding-left">Read more <span class="arrow">→</span></a></p>
        </div>
      </div>
    </li>
    <li>
      <div class="col1-1"> <img src="images/slideshow/slide3.jpg" alt="" />
        <div class="caption">
          <h4>Future has arrived</h4>
          <div class="borderline"></div>
          <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
