<div class="section" id="section4">
  <div class="container clearfix less-padding-bottom">
    <div class="col1-1">
      <div class="headline">
        <h2>The Team</h2>
      </div>
      <h3>We are regarded as industry leaders in stunning diabetessite solutions, focused on delivering unsurpassed user experiences. Lorem ipsum dolor sit amet.</h3>
    </div>
    <ul id="about">
      <li class="col1-3">
        <div class="images"><a href="mailto:info@domain.com"></a>
          <div class="icons email"></div>
          <img src="images/jack.jpg" alt="" /></div>
        <div class="headline">
          <h4>Dr. jur. John Doe</h4>
        </div>
        <p>Vivamus nec sapien massa, a imperdiet diam. Aliquam erat volutpat. Sed consectetur suscipit nunc et rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elitaras.</p>
      </li>
      <li class="col1-3">
        <div class="images"><a href="mailto:info@domain.com"></a>
          <div class="icons email"></div>
          <img src="images/amy.jpg" alt="" /></div>
        <div class="headline">
          <h4>Dr. Prof. Amy McDonald</h4>
        </div>
        <p>Phasellus leo ante, posuere in fringilla vitae, pretium at dui. Fusce et neque quis odio gravida auctor vel non mauris. Vivamus gravida aliquet. </p>
      </li>
      <li class="col1-3">
        <div class="images"><a href="mailto:info@domain.com"></a>
          <div class="icons email"></div>
          <img src="images/jason.jpg" alt="" /></div>
        <div class="headline">
          <h4>Dr. Marc Heimberg</h4>
        </div>
        <p>Maecenas sed justo varius velit imperdiet bibendum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
      </li>
    </ul>
    <!-- end latest works carousel -->
    <div class="clear"></div>
  </div>
</div>
